[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/bitnami/veconverterenv/veconverter
ExecStart=/home/bitnami/veconverterenv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/bitnami/veconverterenv/veconverter/veconverter.sock veconverter.wsgi:application

[Install]
WantedBy=multi-user.target
